@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
.navbar-logo{
    font-family: Cookie, cursive;
    font-size: 32px;
}

.bg-blue-inst {
    background: #005c98;
}

.text-blue-inst {
    color: #005c98;
}
.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    background-color: #ffffff !important;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding-top: 0px;
    padding-bottom: 0px;
}
